<div class="container">
    <form action="/login" method="post">
    <input type="text" placeholder="Enter User Name" name = "username">
    <input type="password" placeholder="Enter Password" name = "password">
    <button type="submit">Submit</button>
    </form>
</div>