<div class="container">
    <ul>
    {{#each results}}
    <li>{{this.username}}</li>
    <ul>
    <li>{{this.username}}</li>
    <li>{{this.email}}</li>
    <li>{{this.password}}</li>
    </ul>
    {{/each}}
    </ul>
</div>